ul{
    list-style-type: none;
}

ul li{
    size: 10px;
}

.card{
    display: none;
    min-width:400px; 
    margin: 10px;
    background-color: rgb(153, 245, 245);
}

.card-list{
    max-height:400px; 
    overflow-y: scroll;
}

#diswin{
    display:none;
}

.jumbotron{
    background-color: blueviolet;
}